body {
    margin: 0;
    width: 100%;
    height: auto;
    font-family: Outfit;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}



/* Header content */

header {
    position: relative;
    height: 100vh;
    margin-bottom: 11.25rem;
}

.black-background {
    display: inline-block;
    width: 31.24999998%;
    height: 100vh;
    background-color: black;
}

.hero {
    display: inline-block;
    width: 37.499999976%;
    height: 100vh;
    background: url(/assets/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
}

.white-background {
    display: inline-block;
    width: 31.24999998%;
    height: 100vh;
}

.header-text {
    position: absolute;
    width: 100%;
    color: white;
    display: flex;
    top: 15%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10.25rem 0 10.25rem;
}

.header-text p {
    padding-top: 45px;
}

.header-text h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 3.3125rem;
    line-height: 88px;
}

span {
    color: black;
}

.header-text p {
    color: black;
    width: 25rem;
}

.hero-button {
    position: relative;
    display: block;
    width: 12.75rem;
    height: 4.5rem;
    top: 100px;
    background-color: black;
    text-align: center;
    line-height: 4.5rem;
    color: white;
    text-decoration: none;
}

.hero-button::after {
    position: absolute;
    left: 204px;
    content: url(/assets/icon-arrow-right.svg);
    width: 3.5rem;
    height: 4.5rem;
    background-color: #D5966C;
    padding-top: 5px;
}

.hero-button:hover {
    background-color: #D5966C;
}

.hero-button:hover::after {
    background-color: black;
}



/* Main content */
.container {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    padding: 0 10.25rem 0 10.25rem;
    height: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1.875rem;
    margin-bottom: 11.25rem;
}

.text {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    line-height: normal;
    background-color: #fff;
    padding: 2rem 1.5rem;
}

.wide {
    display: grid;
    grid-column: 3 / span 3;
    grid-row: 1 / span 2;
    background: url(/assets/desktop/image-grid-1.jpg);
    background-position: center;
    background-size: cover;
}

.wide-tall {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 3 / span 4;
    background: url(/assets/desktop/image-grid-2.jpg);
    background-position: center;
    background-size: cover;
}

.small {
    display: grid;
    grid-column: 4 / span 2;
    grid-row: 3 / span 2;
    background: url(/assets/desktop/image-grid-3.jpg);
    background-position: center;
    background-size: cover;
}

.small-black {
    display: grid;
    grid-column: 4 / span 2;
    grid-row: 5 / span 2;
    background-color: black;
    padding: 2rem 1.5rem;
    color: white;
    line-height: normal;
}

.text p {
    max-width: 20.625rem;
}

/* Footer */
.footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 15.25rem;
    background-color: black;
    color:white;
}


.footer-text {
    display: flex;
    justify-content: space-between;
    padding: 0 164px;
    column-gap: 120px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    padding-left: 1.25rem;
}
/* .flex-1 {
    display: flex;
    flex-grow: 1
}

.flex-2 {
    display: flex;
    flex-grow: 2;
    padding: 0 17.5rem 0 8.75rem;
}

.flex-3 {
    display: flex;
    flex-grow: 1;
} */

.footer-button {

}